body{
    color : rgb(2 29 173);
    background: rgb(224 231 124);
    margin: 0px;
    padding: 20px
}

header{
    border-bottom: solid 2px rgb(2 29 173);
    font-size: 35px;
}

section{
    background: rgb(16 57 84);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}